<% if logged_in? %>
<section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
<% @user ||= current_user %>
<section class="stats">
        <%= render 'shared/stats' %>
      </section>
<ul class= "home_list">
<li><%= link_to "View my profile", @user %></li>
<li><%= link_to "See all users", users_path %></li>
<li><%= link_to "See all events", events_path %></li>
<li><%= link_to "Create new event", new_event_path(current_user) %></li>
<li><%= link_to "Messages", conversations_path %></li>
</ul>
</div>
      
      <div class="col-md-8">
      <h3>Event Feed</h3>
      <%= render 'shared/feed' %>
<% else %>
<div class="row">
<aside class="col-md-4">
  <div class="center jumbotron">
  <h1>Welcome</h1>

  <h2>
    This is the home page for Guided Runners app.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  
  </div>
  <% end %>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>