<ol class="eventpost">
<p>
<strong>Name:</strong>
<%= link_to event.name, event %>
</p>

<p>
<strong>Description:</strong>
<%= event.description %>
</p>

<p>
<strong>Location:</strong>
<%= event.location %>
</p>

<p>
<strong>Date:</strong>
<%= event.event_date.strftime("%B %d, %Y")%>
<p>
<strong>Creator:</strong>
<%= event.user.name %>

<% if current_user && current_user == event.user %>
<td><%= button_to('Delete', event, method: :delete, data: { turbo_confirm: 'Are you sure?' }) %></td>
<% end %>
</ol>

</p>
<br>