<%= form_with(model: event) do |f| %>
    <% if event.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(event.errors.count, "error") %> prohibited this post from being saved:</h2>
  
        <ul>
          <% event.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  
     <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>

    <div class="field">
    <%= f.label :event_date %>
    <%= f.date_field :event_date %>
    <%= f.label :start_time %>
    <%= f.number_field :start_time %>
    <%= f.label :end_time %>
    <%= f.number_field :end_time %>
  </div>
  
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>